# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[client]
default-character-set = utf8

[mysqld]
key_buffer_size = 8
max_allowed_packet = 1M
table_open_cache = 4
sort_buffer_size = 32K
read_buffer_size = 32K
read_rnd_buffer_size = 32K
net_buffer_length = 1K
thread_stack = 64K

# Encoding
collation-server     = utf8_unicode_ci
init-connect         = 'SET NAMES utf8'
character-set-server = utf8

# InnoDB settings
innodb_buffer_pool_size = 4M
innodb_log_file_size = 64K
innodb_log_buffer_size = 64K

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysql]
no-auto-rehash
default-character-set = utf8
